<div class="garden-task-container">
	<h1>Garden Tracker</h1>

	<% @garden_tasks.each do | task | %>
    	<li><%= task.description %></li><br />
  	<% end %>

	<p><%= link_to "Add task", new_garden_task_path %></p>
</div>
