<div id="future-mask"></div>

<div class="index-header-offset">

	<%= render('garden_task', object: @future_tasks) %>

	<%= render('garden_task', object: @today_tasks) %>

	<%= render('garden_task', object: @past_tasks) %>

</div>
