<%= content_for(:title, "New Garden Task") %>

<div class="header-offset new-garden-task container">
  <div class="row">
    <h2>Add a New Garden Task</h2>

    <%= render("layouts/errors", :object => @garden_task) %>

    <%= render("form", :object => @garden_task) %>

  </div>
</div>
