<%= content_for(:title, "New Garden Task") %>

<div class="new-garden-task container">
  <div class="row">
    <h1>Add a New Garden Task</h1>

    <%= render("layouts/errors", :object => @garden_task) %>

    <%= render("form", :object => @garden_task) %>

  </div>
</div>
