<p>Hello <%= @resource.username %>!</p>

<p>New garden tasks have been added. You can do view them through the link below.</p>

<p><%= link_to 'View added garden tasks', root_url %></p>

<p>Thank you,</p>
<p>GardenTracker</p>
