$primaryColor: rgba(75,93,41,1);
$secondaryColor: rgba(154,169,63,1);
$secondaryHighlightColor: rgba(239,208,94,1);
$primaryHighlightColor: rgba(240,142,54,1);
$backgroundColor: rgba(249,238,192,1);

/*================================================= HEADER =================================================*/

.top-bar {
	.title-area {
		h1 {
			margin-left: 10px;
		}
		a {
			-o-transition:.5s;
		  -ms-transition:.5s;
		  -moz-transition:.5s;
		  -webkit-transition:.5s;
		  transition:.5s;
		}
		a:hover {
			color: $secondaryColor;
		}
	}

	.top-bar-section {
		.flash {
			.notice-color {
				color: $secondaryHighlightColor;
			}
			.alert-color {
				color: $primaryHighlightColor;
			}
		}
		.active {
			background-color: $primaryColor;
			padding: 15px 40px 0px 0px;
			#search {
				width: 300px;
			}
			.search-button {
				visibility: hidden;
			}
			.add-task {
				background-color: $primaryHighlightColor;
			}
			.add-task:hover {
				background-color: $secondaryHighlightColor;
			}
		}
		.user-status {
			color: $secondaryHighlightColor;
			a {
				color: $secondaryColor;
			}
			a:hover {
				color: $secondaryHighlightColor;
			}
		}
	}
}

/*=================================================== BODY ===================================================*/

body {
	background-color: $backgroundColor;
	padding-top: 100px !important;
}

#future-mask {
	position: fixed;
	width: 100%;
	height: 120px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  $backgroundColor 0%, $backgroundColor 37%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$backgroundColor), color-stop(37%,$backgroundColor), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $backgroundColor 0%,$backgroundColor 37%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $backgroundColor 0%,$backgroundColor 37%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $backgroundColor 0%,$backgroundColor 37%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $backgroundColor 0%,$backgroundColor 37%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */

	top: 72px;
}

.garden-task-row {
	@include grid-row();
	border: 1px solid $secondaryColor;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	p{
		margin-bottom: 1px;
	}
	.date {
		@include grid-column(3);
	}
	.description {
		@include grid-column(4);
	}
	.strike-through {
		text-decoration: line-through;
		color: $primaryHighlightColor;
	}
	.black-font {
		color: black;
	}
	button, .button {
		position: static;
	}
	.edit-button {
		@include grid-column(2);
		background-color: $secondaryColor;
		width: 5%;
	}
	.edit-button:hover {
		background-color: $secondaryHighlightColor;
	}
	.hidden-save-button {
		display: none;
	}
	.delete-button {
		@include grid-column(2);
		background-color: $primaryHighlightColor;
		width: 5%;
		margin-left: 15px;
	}
	.delete-button:hover {
		background-color: $secondaryHighlightColor;
	}
	.completed {
		@include grid-column(2);
		.completed-button {
			background-color: $secondaryColor;
		}
	}
	.completed-message {
		display: none;
		color: $primaryHighlightColor;
	}
	&.today {
		border: 2px solid $primaryHighlightColor;
	}
}

.new-garden-task, .edit-garden-task {
	h2 {
		color: $secondaryColor;
		margin-bottom: 25px;
		margin-left: 15px;
	}
	.task-form-row {
		@include grid-row();
		.date, .days-away, .buttons, h2 {
			@include grid-column(4);
		}
		.description, .future-description {
			@include grid-column(8);
		}
		.followup-button {
			background-color: $secondaryHighlightColor;
			color: $primaryColor;
		}
		.submit-button {
			background-color: $primaryHighlightColor;
			color: $primaryColor;
		}
		.resized-textbox {
			width: 100%;
			height: 2.3125rem;
			font-size: 0.875rem;
			margin: 0 0 1rem 0;
			padding: 0.5rem;
		}
		.hidden-fields {
			display: none;
		}
	}
}

.header-offset {
	h2 {
		color: $secondaryColor;
		margin-bottom: 25px;
		margin-left: 15px;
	}
}

/*================================================= FOOTER =================================================*/

